{% extends 'main_secondary.html' %}
      {% load i18n %}
      {% load static %}

          <!-- page specific meta info -->
    {% block meta %}
    <title>Jade Island Media | Login </title>
    {% endblock meta %}
      {% block content %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 offset-md-3 col-md-6">
      <div class="card shadow colorWhiteBg" style="border-radius: 0px !important;">
        <div class="card-body">
          <h3 class="boldFont colorBlack">Sign in to your account</h3>
          <p class="lightFont h-std">Don't have a Jade Island Media account? <a class="colorPrimaryDark blackOnHover" href="{% url 'register' %}">Create one</a></p>
      

        <!-- ERRORS SECTION -->
        {% include 'jade_island_media/account/auth_errors.html' with form=login_form %}

        <!-- login form -->
        <form class="mx-5" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_email" class="bodyFont">Email address</label>
            <input type="email" class="form-control form-control-lg lightFont h-std" id="id_email" name="email"  placeholder="Enter email" required="true">
          </div>
          <div class="form-group">
            <label for="id_password" class="bodyFont">Password</label>
            <input type="password" class="form-control form-control-lg lightFont h-std" id="id_password" name="password" placeholder="Password" required="true">
          </div>
      
          <button type="submit" class="lightFont btnOutlinePrimaryDarkBg">Login</button>

        </form>
        <p class="text-right my-3 mx-3">
        <a href="{% url 'password_reset' %}" class="lightFont colorErrors blackOnHover h-std">Forgot Password?</a>
      </p>
      </div>
    </div>
    </div>
      </div>
    </div>
      {% endblock %}
