{% load i18n %}
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- fav ico-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'jade_island_media/favicon_io/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'jade_island_media/favicon_io/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'jade_island_media/favicon_io/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'jade_island_media/favicon_io/site.webmanifest' %}" />

    <!-- Bootstrap CSS -->
    <link rel="text" href="{% static 'styles/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dimens.css' %}">
    <link rel="stylesheet" href="{% static 'styles/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/colors.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common.css' %}">

    <!-- page specific meta info -->
    {% block meta %}{% endblock meta %}
    <title>Jade Island Media</title>
  </head>