<!doctype html>
{% load i18n %}
{% load static %}
<html lang="en">
    {% include 'head.html' %}
  <body>

    {% include 'navbar.html' %}

    <main class="mt-5 py-5">

        {% block content %}
        {% endblock content %}

    </main>


    {% include 'footer.html' %}

    <!-- Optional JavaScript; choose one of the two! -->
    <script type="text/javascript" src="{% static 'scripts/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/popper.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js.map' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{% static 'scripts/navbar.js' %}"></script>


  </body>
</html>