{% load i18n %}
{% load static %}
<!---------------- NAV BAR -------------->
<!-- desktop top navbar -->
<navbar class="d-none d-lg-flex mt-0 mb-4" id="topNavBar">
    <ul id="topLogo">
        <li class="inlineFlexs">
            <a href="{% url 'home' %}" class="colorBlack blackOnHover">
                <img src="{% static 'images/logo.png' %}" height="135px">
            </a>
        </li>
    </ul>

    <ul class="d-flex flex-row w-100 py-5 px-2" style="border-bottom: 1px solid;">
        <!-- toggler -->
        <li class="align-self-start pr-5">
            <div class="hamburger-menu pt-1" id="topNavBarHamburgerMenu">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </div>
        </li>
        <li class="align-self-start pr-5"><a href="#" class="colorBlack blackOnHover lightFont">Popular</a></li>
        <li class="align-self-start pr-5 mr-auto"><a href="#" class="colorBlack blackOnHover lightFont">Latest</a></li>
        <li class="align-self-start pr-2">

            {% if user.is_authenticated  %}
            <a href="{% url 'profile' %}" class="colorBlack blackOnHover lightFont">{% trans "Hi," %}
                {{ user.display_name }}
            <a href="{% url 'logout' %}" class="lightFont ml-1 btnOutlineErrorsBg">{% trans "Log out" %}</a>
            {% else %}

            <a href="{% url 'login' %}" class="lightFont btnOutlinePrimaryDarkBg">{% trans "Log in" %}</a>

            {% endif %}
        </li>
    </ul>

</navbar>
<!-- desktop on scroll navbar -->
<navbar class="d-none fixed-top my-0 colorWhiteBg" id="scrollNavBar" style="border-bottom: 1px solid;">
    <ul class="d-flex flex-row w-100 pt-3 pb-1 px-0">
        <!-- toggler -->
        <li class="align-self-start pr-5 pl-2">
            <div class="hamburger-menu pt-1" id="scrollNavBarHamburgerMenu">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </div>
        </li>
        <li class="align-self-start pr-5"><a href="#" class="colorBlack blackOnHover lightFont">Popular</a></li>
        <li class="align-self-start pr-5"><a href="#" class="colorBlack blackOnHover lightFont">Latest</a></li>
        <li class="align-self-start flex-fill text-center pr-5">
            <a href="{% url 'home' %}" class="colorBlack blackOnHover boldFont h-lg">Jade Island Media</a>
        </li>
        <li class="align-self-start ml-5 pr-2">

            {% if user.is_authenticated  %}
            <a href="{% url 'profile' %}" class="colorBlack blackOnHover lightFont">
                {% trans "Hi," %} {{ user.display_name }}
            <a href="{% url 'logout' %}" class="lightFont ml-1 btnOutlineErrorsBg">{% trans "Log out" %}</a>
            {% else %}

            <a href="{% url 'login' %}" class="lightFont btnOutlinePrimaryDarkBg">{% trans "Log in" %}</a>

            {% endif %}
        </li>
    </ul>
</navbar>


<!--desktop hidden sub navbar -->
<navbar class="d-none fixed-top colorGreyBg" id="secondaryNavBar">
    <ul class="d-flex flex-row w-100 pt-5 px-2 my-0">
        <!-- toggler -->
        <li class="align-self-start pr-5">
            <div class="hamburger-menu pt-1" id="secondaryNavHamburgerMenu">
                <img src="{% static 'images/letter-x.png' %}" height="24px">
            </div>
        </li>
        <li class="align-self-start pr-5"><a href="#" class="colorBlack blackOnHover lightFont">Popular</a></li>
        <li class="align-self-start pr-5 mr-auto"><a href="#" class="colorBlack blackOnHover lightFont">Latest</a></li>
        <li class="align-self-start pr-2">

            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="colorBlack blackOnHover lightFont">{% trans "Hi," %}
                {{ user.display_name }}
            <a href="{% url 'logout' %}" class="lightFont ml-1 btnOutlineErrorsBg">{% trans "Log out" %}</a>
            {% else %}

            <a href="{% url 'login' %}" class="lightFont btnOutlinePrimaryDarkBg">{% trans "Log in" %}</a>
            {% endif %}

        </li>
    </ul>
    <ul class="d-flex flex-column w-100 py-3">
        <table class="table table-borderless">
            <tr>
                <td class="pl-4 pb-3">
                    <h6 class="boldFont colorPrimaryDark h-std">COMMUNITY</h6>
                </td>
                <td class="pl-4 pb-3">
                    <h6 class="boldFont colorPrimaryDark h-std">CLASSIFIEDS</h6>
                </td>
            </tr>
            <tr>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-std">Events</a></td>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-std">Buy & Sell</a></td>
            </tr>
            <tr>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-std">Places</a></td>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-std">Jobs</a></td>
            </tr>
            <tr>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-std">Tips</a></td>
            </tr>
            <tr>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-std">Shared Moments</a></td>
            </tr>
        </table>
    </ul>
</navbar>

<!---------------- end of desk top navbar ---------------->
<!-- mobile top navbar -->
<navbar class="d-lg-none d-flex mt-0 mb-4" id="mobileNavBar">
    <ul id="mobileTopLogo">
        <li class="inlineFlexs">
            <a href="{% url 'home' %}" class="colorBlack blackOnHover">
                <img src="{% static 'images/logo.jpg' %}" height="64px">
            </a>
        </li>
    </ul>

    <ul class="d-flex flex-row w-100 py-3 px-2" style="border-bottom: 1px solid;">
        <!-- toggler -->
        <li class="align-self-start pr-5 mr-auto">
            <div class="hamburger-menu pt-1" id="mobileNavBarHamburgerMenu">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </div>
        </li>
        <li class="align-self-start pr-2">

            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="colorBlack blackOnHover lightFont">{% trans "Hi," %}
                {{ user.display_name }} </a>            
            <a href="{% url 'logout' %}" class="lightFont ml-1 btnOutlineErrorsBg btnSm h-sm">{% trans "Log out" %}</a>
            {% else %}
            <a href="{% url 'login' %}" class="lightFont btnOutlinePrimaryDarkBg btnSm h-sm">{% trans "Log in" %}</a>
            {% endif %}


        </li>
    </ul>

</navbar>

<navbar class="d-none d-lg-none colorGreyBg" id="mobileSecondaryNavBar">
    <ul class="d-flex flex-row w-100 pt-3 px-2 my-0">
        <!-- toggler -->
        <li class="align-self-start pr-5">
            <div class="hamburger-menu pt-1" id="mobileSecondaryNavHamburgerMenu">
                <img src="{% static 'images/letter-x.png' %}" height="16px">
            </div>
        </li>
        <li class="align-self-start pr-5"><a href="#" class="colorBlack blackOnHover lightFont">Popular</a></li>
        <li class="align-self-start pr-5 mr-auto"><a href="#" class="colorBlack blackOnHover lightFont">Latest</a></li>
        <li class="align-self-start pr-2">

            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="colorBlack blackOnHover lightFont">{% trans "Hi," %}
                {{ user.display_name }}
            <a href="{% url 'logout' %}" class="lightFont ml-1 btnOutlineErrorsBg btnSm h-sm">{% trans "Log out" %}</a>
            {% else %}

            <a href="{% url 'login' %}" class="lightFont btnOutlinePrimaryDarkBg btnSm h-sm">{% trans "Log in" %}</a>


            {% endif %}
        </li>
    </ul>
    <ul class="d-flex flex-column w-100 py-3">
        <table class="table table-borderless table-responsive">
            <tr>
                <td class="pl-4 pb-3">
                    <h6 class="boldFont colorPrimaryDark h-sm">COMMUNITY</h6>
                </td>
                <td class="pl-4 pb-3">
                    <h6 class="boldFont colorPrimaryDark h-sm">CLASSIFIEDS</h6>
                </td>
            </tr>
            <tr>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-sm">Events</a></td>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-sm">Buy & Sell</a></td>
            </tr>
            <tr>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-sm">Places</a></td>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-sm">Jobs</a></td>
            </tr>
            <tr>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-sm">Tips</a></td>
            </tr>
            <tr>
                <td class="pl-4"><a href="#" class="colorBlack blackOnHover lightFont h-sm">Shared Moments</a></td>
            </tr>
        </table>
    </ul>
</navbar>
<!---------------- NAV BAR -------------->