{% extends 'main_secondary.html' %}
      {% load i18n %}
      {% load static %}

          <!-- page specific meta info -->
    {% block meta %}
    <title>Jade Island Media | Password Reset </title>
    {% endblock meta %}
      {% block content %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 offset-md-3 col-md-6">
      <div class="card shadow colorWhiteBg" style="border-radius: 0px !important;">
        <div class="card-body">
      <form method="POST" class="form-signin">{% csrf_token %}
        <h4 class="mb-3 colorErrors boldFont"> {% trans "Reset password" %}</h4>
        <div class="form-group">
          <input name="email" class="form-control form-control-lg lightFont h-std" placeholder='{% trans "Email address" %}' type="email" id="id_email" required="true">
        </div>
        <div class="form-group">
          <small class="colorBlack lightFont h-std">*{% trans "We will send you a link for password reset to the email above" %}</small>
        </div>
        <button class="lightFont btnOutlinePrimaryDarkBg" type="submit"> {% trans "Send reset email" %}</button>  
      </form>
    </div>
    </div>
	</div>

</div>
</div>
{% endblock %}