{% extends 'main_secondary.html' %}
      {% load i18n %}
      {% load static %}

          <!-- page specific meta info -->
    {% block meta %}
    <title>Jade Island Media | Password Change </title>
    {% endblock meta %}
      {% block content %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 offset-md-3 col-md-6">
      <div class="card shadow colorWhiteBg" style="border-radius: 0px !important;">
        <div class="card-body">
		<h6 class="colorBrownish serifFont">{% trans "Your password has been Updated." %}<br/>{% trans "Go back to" %}
		<a class="colorPrimary bodyFont" href="{% url 'profile' %}">{% trans "my profile" %}</a>
    </h6>
    </div>
    </div>
	</div>
</div>
</div>

{% endblock %}