{% extends 'main.html' %}
{% block content %}
{% load i18n %}
<div class="container py-5">
    <div class="row">
        <div class="col text-center">
            <h6 class="headingFont colorErrors">{% trans "Page Not Found" %}</h6>
            <p class="headingFont colorDarkerGrey">{% trans "The page you requested was not found. Return to" %}
                <a href="{% url 'home' %}" class="unstyled-link-colorBlack accentOnHover lightFont">{% trans "home page" %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}